html {
    font-size: 16px;
}
@media (min-width: 768px){
    .sounds {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}
header {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
}
.sound-block {
    padding: 1rem;
    margin: 0.5rem;
    background-color: #99eebb;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sound-block:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
